.main {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    width: 1200px;
}
.palette {
    background-color: rgb(230, 230, 230);
    display: flex;
    

}
.item {
    height: 50px;
    width: 150px;
}