.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 1200px;
    background-color: rgb(230, 230, 230);

}

.text a {
    text-decoration: underline;

}

input {
    width: 500px ;
}

.text {
    margin: 50px 0px 20px 0px;
    font-size: larger;
    text-align: center;
    width: 600px;
}

.form {
    display: flex;

}

.elem {
    display: flex;
    margin: 10px;
    display: flex;
}

.main {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    width: 1200px;
}

.palette {
    background-color: rgb(230, 230, 230);
    display: flex;


}

.item {
    height: 50px;
    width: 150px;
}